# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/app.db
backend/.env
backend/venv/
backend/.venv/

# Frontend
frontend/node_modules/
frontend/dist/

# General
.DS_Store
*.env
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
